
header{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);    
}
h1{
    text-align: center;
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}
h2{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.bruches{
    background-color: mediumspringgreen;
}
.frames{
    background-color: lightcoral;
}
.paint{
    background-color: skyblue;
}
em{
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}